#images-slideshow {
  width: 100%;
  border: 2px solid rgb(11, 93, 125);
  padding: 2px 20px;
  overflow: hidden;
  margin: 2px 2px;
  position: relative;
  display: flex;
}

#images-slideshow div {
    display: flex;
    position: relative;
    animation: marquee 25s linear infinite;
    justify-content: space-around;
}

#images-slideshow div img {
    display: block;
    min-width: 280px;
    height: 300px;
    padding: 2px 20px;
}

#images-slideshow:hover div {
    animation-play-state: paused;
}

#images-slideshow:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to right, white, rgba(white, 0) 80px, rgba(white, 0) calc(100% - 80px), white);
}

@keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}