/* Products Container - CSS */

#pharmacy-products {
    border: 2px solid black;
    padding-top: 0;
    padding-left: 20px;
    width: max-content;
    margin-left: 50px;
}

#pharmacy-products h2 {
    margin-left: 20px;
}

#products-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
}
.product{
    
    width: 260px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.product img {
    width: 240px;
    height: 180px;
}
